.errorPage {
    background-image: url('../../../Assets/Images/error2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.error-page::before {
    content: "";

    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
}