.banner {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner::before {
    content: "";
    background-image: url('/src/Assets/Images/resseling\ laptop.jpg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
}

.banner-heading {
    position: relative;
    color: #ffffff;
    /* font-size: 14rem; */
    line-height: 0.9;
    text-align: center;
}